body{
    font: arial serif 20px;
    flex-direction: column;
    background-color: #3498DB;
}

.navbar {
    background-color: rgb( 244, 255, 0);
    flex-direction: center;
    flex-direction: column;
    
}
.quem-somos{
    background-color: #3498DB ;
    color: cornsilk;

}
.magin{
       padding-bottom: 50px;
       padding-top:20px;
}
.Produtos{
    background-color: #3498DB;
    color: cornsilk;
}
.bg-footer{
    background-color: rgb( 244, 255, 0);
    padding: 20px;
}
.Serviços{
    padding-bottom: 50px;
    color: cornsilk;
}
